@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

/* #calcDiv {
	width: 50vw;
	display: flex;
	flex-direction: column;
	align-items: center;
} */
#playerSetup {
	width: inherit;
}
#playerSetup form {
	display: flex;
	flex-direction: column;
}

#playerSetup form input {
	margin: 0.5em;
}

#scoreInput {
	display: flex;
	flex-direction: column;
}
#scoreInput input {
	margin: 0.5em;
}
